.header{
    display: flex;
    justify-content: space-between;
    margin: 0px 0px;
    margin-bottom: 10px;
    padding: 6px 0;
    background-color: rgb(212, 179, 179);
}

.headerIcon a{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: rgb(88, 68, 68);
}

.headerIcon a:hover{
    /*background: linear-gradient(purple,blue,skyblue,green,yellow, orange,red);*/
    color: black;
}

.headerMenu a{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: rgb(88, 68, 68);
    font-size: 18px;
    letter-spacing: 1.2px;
}

.headerMenu a:hover{
    /*background: linear-gradient(purple,blue,skyblue,green,yellow, orange,red);*/
    color: black;
}